<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
{% load static %}
<!--<![endif]-->

{% include 'common/header.html' %}
<body>
{% include 'common/left_panel.html' %}

<!-- Right Panel -->

<div id="right-panel" class="right-panel">

    {% include 'common/right_panel_header.html' %}

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <div class="icon-container">
                        <a href="{% url 'back:user' %}"><span class="ti-back-right"></span><span
                                class="icon-name"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        {#                        <li><a href="#">仪表板</a></li>#}
                        <li><a href="#">数据管理</a></li>
                        <li class="active">用户信息</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-8" style="margin:0 auto;">
                    <div class="card">
                        <div class="card-header">
                            <strong>修改密码</strong>
                        </div>
                        <div class="card-body card-block">
                            {#                            <form action="{% url 'back:user_mp' data.id %}" method="post" enctype="multipart/form-data"#}
                            <form method="post" enctype="multipart/form-data" class="form-horizontal"
                                  id="user-update-pwd-form">
                                {% csrf_token %}
                                {#                                <input type="text" name="id" hidden value="{{ data.id }}">#}
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="text-input"
                                                                     class=" form-control-label"><i
                                            style="color: red; margin-right: 5px">*</i>新密码</label></div>
                                    <div class="col-12 col-md-9"><input type="password" id="new_pwd" name="new_pwd"
                                                                        required="required"
                                                                        onblur="validationPassword(this)"
                                                                        value="" class="form-control">
                                        <small class="form-text text-muted">1.密码必须包含至少8个字符</small>
                                        <small class="form-text text-muted">2.密码不能全为数字</small>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="text-input"
                                                                     class=" form-control-label"><i
                                            style="color: red; margin-right: 5px">*</i>确认密码</label></div>
                                    <div class="col-12 col-md-9"><input type="password" id="new_pwd_confirm"
                                                                        name="new_pwd_confirm"
                                                                        value=""
                                                                        onblur="validationPassword(this)"
                                                                        class="form-control">
                                    </div>
                                </div>
                                <div style="margin-top:40px;margin-bottom:20px;">
                                    <button type="button" class="btn btn-primary btn-sm"
                                            style="width: 100px;display:block;margin:0 auto;"
                                            onclick="user_password_comfirm()">
                                        <i class="fa fa-dot-circle-o"></i> 修改
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .animated -->
    </div><!-- .content -->
</div><!-- /#right-panel -->
<!-- Right Panel -->

{% include 'common/include_js.html' %}
{% block add_js %}
    <script src="{% static 'backstage/vendors/jquery-validation/dist/jquery.validate.min.js' %}"></script>
    <script src="{% static 'backstage/js/back.js' %}"></script>
{% endblock %}
</body>
<script>
    function user_password_comfirm() {
        var new_pwd = $('#new_pwd').val();
        var new_pwd_confirm = $('#new_pwd_confirm').val();
        if (new_pwd == '') {
            layer.alert("新密码不能为空！", {icon: 0}, function (index) {
                layer.close(index);
            });
        } else if (new_pwd_confirm == '') {
            layer.alert("确认密码不能为空！", {icon: 0}, function (index) {
                layer.close(index);
            });
        } else {
            $.ajax({
                url: "/back/user_mp/{{ data.id }}",
                type: "POST",
                data: $('#user-update-pwd-form').serialize(),
                success: function (res) {
                    {#console.log(res);#}
                    if (res == 1) {
                        layer.alert("修改成功,请妥善保管密码！", {icon: 1}, function (index) {
                            layer.close(index);
                            window.open('/back/user')
                        });
                    } else if (res == 2) {
                        layer.alert("两次密码输入不同，请重新输入密码！", {icon: 2}, function (index) {
                            layer.close(index);
                            $('#new_pwd').val('');
                            $('#new_pwd_confirm').val('');
                        });
                    } else {
                        layer.alert("出现错误，请联系管理员！", {icon: 2}, function (index) {
                            layer.close(index);
                        });
                    }

                },

                error: function (jqXHR, textStatus, err) {
                    console.log(arguments);
                },

                complete: function (jqXHR, textStatus) {
                    console.log(textStatus);
                },

                statusCode: {
                    '403': function (jqXHR, textStatus, err) {
                        console.log(arguments);
                    },

                    '400': function (jqXHR, textStatus, err) {
                        console.log(arguments);
                    }
                }
            })
        }
    }
</script>
</html>
