<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
{% load static %}
<!--<![endif]-->
{% include 'common/header.html' %}
{% block header_add_css %}
    <link rel="stylesheet" href="{% static 'backstage/vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'backstage/vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}">
{% endblock %}

<body>
{% include 'common/left_panel.html' %}

<!-- Right Panel -->

<div id="right-panel" class="right-panel">

    {% include 'common/right_panel_header.html' %}

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                {#                <div class="page-title">#}
                {#                    <h1>仪表盘</h1>#}
                {#                </div>#}
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        {#                        <li><a href="#">仪表盘</a></li>#}
                        <li><a href="#">用户管理</a></li>
                        <li class="active">机构用户管理</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">机构用户信息</strong>
                            {% if is_manage == 1 %}
                                <a href="{% url 'back:user_add' %}">
                                    <button class="btn btn-success btn-sm" style="margin-left: 20px; width: 70px;">添加
                                    </button>
                                </a>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_length"></div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_filter">
                                            <label><input type="search" class="form-control form-control-sm"
                                                          placeholder="" id="search-id" value="{{ keyword }}">
                                                <a id="search-a-id" onclick="search_all('user', '')">
                                                    <button type="button" class="btn btn-outline-primary btn-sm">
                                                        搜索
                                                    </button>
                                                </a>
                                                <a id="search-a-id-reset" onclick="search_all('user', '', 1)">
                                                    <button type="button" class="btn btn-outline-success btn-sm">
                                                        重置
                                                    </button>
                                                </a>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="bootstrap-data-table-export"
                                               class="table table-striped table-bordered">
                                            <thead>
                                            <tr>
                                                <th>账号</th>
                                                <th>昵称</th>
                                                <th>是否可用</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for d in data.pages %}
                                                <tr>
                                                    <td>{{ d.username }}</td>
                                                    <td>{{ d.first_name }}</td>
                                                    <td>{{ d.is_active }}</td>
                                                    <td>
                                                        <button type="button"
                                                                class="btn btn-outline-success btn-sm detail_bt"
                                                                onclick="user_detail_bt({{ d.id }})">查看
                                                        </button>
                                                        <a href="{% url 'back:user_e' d.id %}">
                                                            <button type="button"
                                                                    class="btn btn-outline-primary btn-sm">编辑
                                                            </button>
                                                        </a>
                                                        <a href="{% url 'back:user_mp' d.id %}">
                                                            <button type="button"
                                                                    class="btn btn-outline-primary btn-sm">修改密码
                                                            </button>
                                                        </a>
                                                        {% if is_manage == 1 %}
                                                            {% if d.is_active %}
                                                                <button type="button"
                                                                        class="btn btn-outline-danger btn-sm"
                                                                        onclick="close_or_open(this, '/back/userdel',0)"
                                                                        data-uuid="{{ d.id }}">禁用
                                                                </button>
                                                            {% else %}
                                                                <button type="button"
                                                                        class="btn btn-outline-danger btn-sm"
                                                                        onclick="close_or_open(this, '/back/userdel',1)"
                                                                        data-uuid="{{ d.id }}">开启
                                                                </button>
                                                            {% endif %}
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info" id="bootstrap-data-table-export_info" role="status"
                                             aria-live="polite">共 {{ data.item_sum }} 条,共 {{ data.page_num }} 页
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-7">
                                        <div class="dataTables_paginate paging_simple_numbers"
                                             id="bootstrap-data-table-export_paginate">
                                            <ul class="pagination">
                                                {% if data.pages.has_previous %}
                                                    <li class="paginate_button page-item previous"
                                                        id="bootstrap-data-table-export_previous">
                                                        <a href="{% url 'back:user' %}?page={{ data.pages.previous_page_number }}&keyword={{ keyword }}"
                                                           aria-controls="bootstrap-data-table-export"
                                                           class="page-link">上一页</a>
                                                    </li>
                                                {% else %}
                                                    <li class="paginate_button page-item previous disabled"
                                                        id="bootstrap-data-table-export_previous">
                                                        <a aria-controls="bootstrap-data-table-export"
                                                           class="page-link">上一页</a>
                                                    </li>
                                                {% endif %}
                                                {% for page in data.pages_list %}
                                                    {% if page == data.cur_page %}
                                                        <li class="paginate_button page-item active">
                                                            <a href="{% url 'back:user' %}?page={{ page }}&keyword={{ keyword }}"
                                                               class="page-link">{{ page }}</a>
                                                        </li>
                                                    {% else %}
                                                        <li class="paginate_button page-item">
                                                            <a href="{% url 'back:user' %}?page={{ page }}&keyword={{ keyword }}"
                                                               class="page-link">{{ page }}</a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}

                                                {% if data.pages.has_next %}
                                                    <li class="paginate_button page-item next"
                                                        id="bootstrap-data-table-export_next">
                                                        <a href="{% url 'back:user' %}?page={{ data.pages.next_page_number }}&keyword={{ keyword }}"
                                                           class="page-link">下一页</a>
                                                    </li>
                                                {% else %}
                                                    <li class="paginate_button page-item next disabled"
                                                        id="bootstrap-data-table-export_next">
                                                        <a class="page-link">下一页</a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div><!-- .animated -->
    </div><!-- .content -->


</div><!-- /#right-panel -->

<!-- Right Panel -->

{#{% include 'user_manage/user/user_detail.html' %}#}
<!--遮罩层-->
<div class="bgPop"></div>
<!--弹出框-->
<div class="pop">
    <div class="pop-top">
        <h5 id="user-name"></h5>
        <span class="pop-close">Ｘ</span>
    </div>
    <div class="pop-content">
    </div>
</div>

{% include 'common/include_js.html' %}
{% block add_js %}
    <script src="{% static 'backstage/layer/layer.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'backstage/mask/js/jquery-1.8.0.min.js' %}"></script>
    <script src="{% static 'backstage/js/back.js' %}"></script>


{% endblock %}
<script>


    $(window).load(function () {
        // 关闭详情弹窗
        $('.pop-close').click(function () {
            $('.bgPop,.pop').hide();
        });
    });

    function close_or_open(obj, url, tag) {
        var uuid = $(obj).attr('data-uuid');
        if (tag == 1) {
            var msg1 = '开启'
        } else {
            var msg1 = '禁用'
        }
        var msg = '确定要' + msg1 + '此用户吗？';
        layer.confirm(msg, {icon: 3}, function (e) {
            $.post(url, {'uuid': uuid, 'tag': tag}, function (res) {
                    if (res == 1) {
                        // $(obj).parents('tr').remove();
                        layer.alert('操作成功', {icon: 1}, function (index) {
                            layer.close(index);
                            window.location.reload();
                        });
                    } else {
                        layer.alert('操作失败，请联系管理员！', {icon: 2}, function (index) {
                            layer.close(index)
                        });
                    }
                }
            )
        })

    }
</script>
</body>

</html>
