<!--遮罩层-->
<div class="bgPop"></div>
<!--弹出框-->
<div class="pop">
    <div class="pop-top">
        <h5 id="user-name"></h5>
        <span class="pop-close">Ｘ</span>
    </div>
    <div class="pop-content">
        <div class="pop-content-con">
            <form method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="row form-group">
                    <div class="col col-md-3"><label for="disabled-input" class=" form-control-label">昵称</label>
                    </div>
                    <div class="col-12 col-md-9"><input type="text" id="user-first_name"
                                                        value="" disabled="" class="form-control"></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="disabled-input" class=" form-control-label">关联机构</label>
                    </div>
                    <div class="col-12 col-md-9"><input type="text" id="user-org"
                                                        value="" disabled="" class="form-control"></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="disabled-input" class=" form-control-label">创建时间</label>
                    </div>
                    <div class="col-12 col-md-9"><input type="text" id="user-created"
                                                        value="" disabled="" class="form-control"></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="disabled-input" class=" form-control-label">最新登录时间</label>
                    </div>
                    <div class="col-12 col-md-9"><input type="text" id="user-last_login"
                                                        value="" disabled="" class="form-control"></div>
                </div>
            </form>
        </div>
    </div>
</div>