{#<!--遮罩层-->#}
{#<div class="bgPop"></div>#}
{#<!--弹出框-->#}
{#<div class="pop">#}
{#    <div class="pop-top">#}
{#        <h5 id="re-name"></h5>#}
{#        <span class="pop-close">Ｘ</span>#}
{#    </div>#}
{#    <div class="pop-content">#}
{#        <div class="pop-content-con">#}
            <form method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="row form-group">
                    <div class="col col-md-3"><label for="disabled-input" class=" form-control-label">开始时间</label>
                    </div>
                    <div class="col-12 col-md-9"><input type="text" id="re-start_date"
                                                        value="" disabled="" class="form-control"></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="disabled-input"
                                                     class=" form-control-label">结束时间</label></div>
                    <div class="col-12 col-md-9"><input type="text" id="re-end_date"
                                                        value="" disabled="" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="disabled-input"
                                                     class=" form-control-label">分类</label></div>
                    <div class="col-12 col-md-9"><input type="text" id="re-classify"
                                                        value="" disabled="" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="disabled-input"
                                                     class=" form-control-label">经费/万元</label></div>
                    <div class="col-12 col-md-9"><input type="text" id="re-funds"
                                                        value="" disabled="" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="disabled-input" class=" form-control-label">具体要求</label>
                    </div>
                    <div class="col-12 col-md-9"><textarea id="re-brief" rows="9" disabled=""
                                                           class="form-control"></textarea>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="disabled-input"
                                                     class=" form-control-label">联系人</label></div>
                    <div class="col-12 col-md-9"><input type="text" id="re-contacts"
                                                        value="" disabled="" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="disabled-input"
                                                     class=" form-control-label">联系人电话</label></div>
                    <div class="col-12 col-md-9"><input type="text" id="re-phone"
                                                        value="" disabled="" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="disabled-input"
                                                     class=" form-control-label">状态</label></div>
                    <div class="col-12 col-md-9"><input type="text" id="re-status"
                                                        value="" disabled="" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="disabled-input"
                                                     class=" form-control-label">组织方</label></div>
                    <div class="col-12 col-md-9"><input type="text" id="re-user"
                                                        value="" disabled="" class="form-control">
                    </div>
                </div>
            </form>

{#        </div>#}
{#    </div>#}
{#</div>#}