<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
{% load static %}
<!--<![endif]-->
{% include 'common/header.html' %}
{% block header_add_css %}
    <link rel="stylesheet" href="{% static 'backstage/vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'backstage/vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}">
    {#    <script src="{% static 'backstage/js/back.js' %}"></script>#}
{% endblock %}

<body>
{% include 'common/left_panel.html' %}

<!-- Right Panel -->

<div id="right-panel" class="right-panel">

    {% include 'common/right_panel_header.html' %}

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <div class="icon-container">
                        <a href="{% url 'back:rm' %}"><span class="ti-back-right"></span><span
                                class="icon-name"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        {#                        <li><a href="#">仪表盘</a></li>#}
                        <li><a href="#">数据管理</a></li>
                        <li class="active">投标申报审批记录</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">投标申报审批记录</strong>
                        </div>
                        <div class="card-body">
                            <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_length"></div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_filter">
                                            <label><input type="search" class="form-control form-control-sm"
                                                          placeholder="" id="search-id" value="{{ keyword }}">
                                                <a id="search-a-id" onclick="search_all('rm_sp_his/bid', '')">
                                                    <button type="button" class="btn btn-outline-primary btn-sm">
                                                        搜索
                                                    </button>
                                                </a>
                                                <a id="search-a-id-reset" onclick="search_all('rm_sp_his/bid', '', 1)">
                                                    <button type="button" class="btn btn-outline-success btn-sm">
                                                        重置
                                                    </button>
                                                </a>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="bootstrap-data-table-export"
                                               class="table table-striped table-bordered">
                                            <thead>
                                            <tr>
                                                <th>招标题目</th>
                                                <th>投标题目</th>
                                                <th>投标日期</th>
                                                <th>投标方</th>
                                                <th>审批结果</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for d in data.pages %}
                                                <tr>
                                                    <td>{{ d.bidding__name }}</td>
                                                    <td>{{ d.re_title }}</td>
                                                    <td>{{ d.bidder_date }}</td>
                                                    <td>{{ d.bidder }}</td>
                                                    <td>{{ d.bidder_status }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info" id="bootstrap-data-table-export_info" role="status"
                                             aria-live="polite">共 {{ data.item_sum }} 条,共 {{ data.page_num }} 页
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-7">
                                        <div class="dataTables_paginate paging_simple_numbers"
                                             id="bootstrap-data-table-export_paginate">
                                            <ul class="pagination">
                                                {% if data.pages.has_previous %}
                                                    <li class="paginate_button page-item previous"
                                                        id="bootstrap-data-table-export_previous">
                                                        <a href="{% url 'back:rm_sp_his' 'bid' %}?page={{ data.pages.previous_page_number }}&keyword={{ keyword }}"
                                                           aria-controls="bootstrap-data-table-export"
                                                           class="page-link">上一页</a>
                                                    </li>
                                                {% else %}
                                                    <li class="paginate_button page-item previous disabled"
                                                        id="bootstrap-data-table-export_previous">
                                                        <a aria-controls="bootstrap-data-table-export"
                                                           class="page-link">上一页</a>
                                                    </li>
                                                {% endif %}
                                                {% for page in data.pages_list %}
                                                    {% if page == data.cur_page %}
                                                        <li class="paginate_button page-item active">
                                                            <a href="{% url 'back:rm_sp_his' 'bid' %}?page={{ page }}&keyword={{ keyword }}"
                                                               class="page-link">{{ page }}</a>
                                                        </li>
                                                    {% else %}
                                                        <li class="paginate_button page-item">
                                                            <a href="{% url 'back:rm_sp_his' 'bid' %}?page={{ page }}&keyword={{ keyword }}"
                                                               class="page-link">{{ page }}</a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}

                                                {% if data.pages.has_next %}
                                                    <li class="paginate_button page-item next"
                                                        id="bootstrap-data-table-export_next">
                                                        <a href="{% url 'back:rm_sp_his' 'bid' %}?page={{ data.pages.next_page_number }}&keyword={{ keyword }}"
                                                           class="page-link">下一页</a>
                                                    </li>
                                                {% else %}
                                                    <li class="paginate_button page-item next disabled"
                                                        id="bootstrap-data-table-export_next">
                                                        <a class="page-link">下一页</a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div><!-- .animated -->
    </div><!-- .content -->


</div><!-- /#right-panel -->

<!-- Right Panel -->

{% include 'common/include_js.html' %}
{% block add_js %}
    <script src="{% static 'backstage/layer/layer.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'backstage/mask/js/jquery-1.8.0.min.js' %}"></script>
    <script src="{% static 'backstage/js/back.js' %}"></script>
{% endblock %}
</body>

</html>
