<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
{% load static %}
{% include 'common/header.html' %}
<body>
<div class="single-detail-div" style="">
    <div class="single-detail-div-bottom" style="position: relative">
        <div class="stamp-box">
            <img src="{% static '/backstage/images/stamp.png' %}" alt="">
            <!--状态印章-->
            <p class="txt" id="stamp_box_status">{{ data.status }}</p>
        </div>
        <h5>招标名称：{{ data.name }}</h5>
        <form method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="row form-group">
                    <div class="col col-md-3"><label for="disabled-input" class=" form-control-label">开始时间</label>
                    </div>
                    <div class="col-12 col-md-9"><input type="text" id="re-start_date"
                                                        value="{{ data.start_date }}" disabled="" class="form-control"></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="disabled-input"
                                                     class=" form-control-label">结束时间</label></div>
                    <div class="col-12 col-md-9"><input type="text" id="re-end_date"
                                                        value="{{ data.end_date }}" disabled="" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="disabled-input"
                                                     class=" form-control-label">分类</label></div>
                    <div class="col-12 col-md-9"><input type="text" id="re-classify"
                                                        value="{{ data.classify__cls_name }}" disabled="" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="disabled-input"
                                                     class=" form-control-label">经费/万元</label></div>
                    <div class="col-12 col-md-9"><input type="text" id="re-funds"
                                                        value="{{ data.funds }}" disabled="" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="disabled-input" class=" form-control-label">具体要求</label>
                    </div>
                    <div class="col-12 col-md-9"><textarea id="re-brief" rows="9" disabled=""
                                                           class="form-control">{{ data.brief }}</textarea>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="disabled-input"
                                                     class=" form-control-label">联系人</label></div>
                    <div class="col-12 col-md-9"><input type="text" id="re-contacts"
                                                        value="{{ data.contacts }}" disabled="" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="disabled-input"
                                                     class=" form-control-label">联系人电话</label></div>
                    <div class="col-12 col-md-9"><input type="text" id="re-phone"
                                                        value="{{ data.phone }}" disabled="" class="form-control">
                    </div>
                </div>
{#                <div class="row form-group">#}
{#                    <div class="col col-md-3"><label for="disabled-input"#}
{#                                                     class=" form-control-label">状态</label></div>#}
{#                    <div class="col-12 col-md-9"><input type="text" id="re-status"#}
{#                                                        value="" disabled="" class="form-control">#}
{#                    </div>#}
{#                </div>#}
                <div class="row form-group">
                    <div class="col col-md-3"><label for="disabled-input"
                                                     class=" form-control-label">组织方</label></div>
                    <div class="col-12 col-md-9"><input type="text" id="re-user"
                                                        value="{{ data.user__username }}" disabled="" class="form-control">
                    </div>
                </div>
            </form>
    </div>
</div>
</body>
<script src="{% static 'backstage/js/back.js' %}"></script>
</html>