{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>国资国企综合研究服务平台后台管理</title>
    <meta name="description" content="国资国企综合研究服务平台后台管理">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'backstage/vendors/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'backstage/vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'backstage/vendors/themify-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'backstage/vendors/flag-icon-css/css/flag-icon.min.css' %}">
    {#首页专项#}
    <link rel="stylesheet" href="{% static 'backstage/vendors/jqvmap/dist/jqvmap.min.css' %}">

    <link rel="stylesheet" href="{% static 'backstage/assets/css/style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    {#--成果页-#}
    <link rel="stylesheet" href="{% static 'backstage/vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'backstage/vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'backstage/mask/css/mask.css' %}">
    <link rel="stylesheet" href="{% static 'backstage/css/back.css' %}">
    {% block header_add_css %}
    {% endblock %}
</head>
