{% load static %}

<script src="{% static 'backstage/vendors/jquery/dist/jquery.min.js' %}"></script>
{#<script src="{% static 'backstage/vendors/popper.js/dist/umd/popper.min.js' %}"></script>#}
<script src="{% static 'backstage/vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'backstage/assets/js/main.js' %}"></script>
<script src="{% static 'backstage/layer/layer.js' %}" charset="utf-8"></script>
<script src="{% static 'backstage/js/login.js' %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'backstage/mask/js/jquery-1.8.0.min.js' %}"></script>

{% block add_js %}
{% endblock %}