{% load static %}
<!-- Left Panel -->

<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            {#            <input type="text" hidden id="search-hidden-keyword-input">#}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu"
                    aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="./">国资国企研究SASER
                {#                <img src="{% static 'backstage/images/logo.png' %}" alt="Logo">#}
            </a>
            <a class="navbar-brand hidden" href="./">国
                {#                <img src="{% static 'backstage/images/logo2.png' %}" alt="Logo">#}
            </a>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="{% url 'back:main' %}"> <i class="menu-icon fa fa-dashboard"></i>仪表盘 </a>
                </li>
                <h3 class="menu-title">数据管理</h3><!-- /.menu-title -->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>基本信息管理</a>
                    <ul class="sub-menu children dropdown-menu">
{#                        {% if request.session.group_id == 1 or request.session.group_id == 2 %}#}
                        <li><i class="fa fa-puzzle-piece"></i><a href="{% url 'back:org' %}">机构管理</a></li>
{#                        {% endif %}#}
                        <li><i class="fa fa-puzzle-piece"></i><a href="{% url 'back:parm' %}">研究人员管理</a></li>
                        <li><i class="fa fa-puzzle-piece"></i><a href="{% url 'back:user' %}">用户管理</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"> <i class="menu-icon fa fa-table"></i>数据管理</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-table"></i><a href="{% url 'back:pm' %}">成果管理</a></li>
                        {% if request.session.group_id == 1 or request.session.group_id == 2 %}
                            <li><i class="fa fa-table"></i><a href="{% url 'back:psp' %}">成果审批</a></li>
                        {% endif %}
                        {% if request.session.group_id != 4 %}
                            {#                            乙方组不显示#}
                            <li><i class="fa fa-table"></i><a href="{% url 'back:rm' %}">招标管理</a></li>
                        {% endif %}
                        <li><i class="fa fa-table"></i><a href="{% url 'back:bm' %}">投标管理</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside><!-- /#left-panel -->

<!-- Left Panel -->