<!-- Header-->
{% load static %}
<header id="header" class="header">

    <div class="header-menu">

        <div class="col-sm-7">
            <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
            <div class="header-left">
                {#                <div class="dropdown for-notification">#}
                {#                    <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
                {#                        <i class="fa fa-bell"></i>#}
                {#                        <span class="count bg-danger">5</span>#}
                {#                    </button>#}
                {#                </div>#}
                {##}
                {#                <div class="dropdown for-message">#}
                {#                    <button class="btn btn-secondary dropdown-toggle" type="button"#}
                {#                        id="message"#}
                {#                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
                {#                        <i class="ti-email"></i>#}
                {#                        <span class="count bg-primary">9</span>#}
                {#                    </button>#}
                {#                </div>#}
            </div>
        </div>

        <div class="col-sm-5">
            <div class="user-area dropdown float-right">
                <i class="fa">欢迎 {{ request.session.nickname }} !</i>
                <a class="nav-link" style="display: inline-block" onclick="login_out()"><i class="fa fa-power-off"></i>
                    安全退出</a>
            </div>
{#            <script>#}
{#                // 退出#}
{#                function login_out() {#}
                    {#window.localStorage.clear();#}
{#                    layer.confirm('确定退出吗？', {icon: 3}, function (e) {#}
{#                        $.ajax({#}
{#                            url: '/back/login_out/',#}
{#                            dataType: 'json',#}
{#                            type: 'get',#}
{#                            async: true,#}
{#                            success: function (res) {#}
{#                                window.close()#}
{#                            },#}
{#                            error: function (res) {#}
{#                                console.log(res)#}
{#                            }#}
{#                        })#}
{#                    });#}
                    {#window.open("/back/login_out/", "_self")#}
{#                }#}
{#            </script>#}
        </div>
    </div>

</header><!-- /header -->
<!-- Header-->