<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
{% load static %}
<!--<![endif]-->

{% include 'common/header.html' %}
<body>
{% include 'common/left_panel.html' %}

<!-- Right Panel -->

<div id="right-panel" class="right-panel">

    {% include 'common/right_panel_header.html' %}

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <div class="icon-container">
                        <a href="{% url 'back:org' %}"><span class="ti-back-right"></span><span
                                class="icon-name"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
{#                        <li><a href="#">仪表板</a></li>#}
                        <li><a href="#">数据管理</a></li>
                        <li class="active">机构信息</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-8" style="margin:0 auto;">
                    <div class="card">
                        <div class="card-header">
                            <strong>机构信息编辑</strong>
                        </div>
                        <div class="card-body card-block">
                            <form action="{% url 'back:org_e' data.uuid %}" method="post" enctype="multipart/form-data"
                                  class="form-horizontal">
                                {% csrf_token %}
{#                                <input type="text" name="uuid" hidden value="{{ data.uuid }}">#}
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="text-input"
                                                                     class=" form-control-label"><i
                                            style="color: red; margin-right: 5px">*</i>机构名称</label></div>
                                    <div class="col-12 col-md-9"><input type="text" id="text-input" name="name"
                                                                        required="required"
                                                                        value="{{ data.name }}" class="form-control">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label class=" form-control-label"><i
                                            style="color: red; margin-right: 5px">*</i>立项单位</label></div>
                                    <div class="col-12 col-md-9">
                                        <div class="form-check-inline form-check" id="org_is_a">
                                            <label for="inline-radio1" class="form-check-label ">
                                                <input type="radio" name="is_a" value="True"
                                                       class="form-check-input">是
                                            </label>
                                            <label for="inline-radio2" class="form-check-label ">
                                                <input type="radio" name="is_a" value="False"
                                                       class="form-check-input">否
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label class=" form-control-label"><i
                                            style="color: red; margin-right: 5px">*</i>研究单位</label></div>
                                    <div class="col-12 col-md-9">
                                        <div class="form-check-inline form-check" id="org_is_b">
                                            <label for="inline-radio1" class="form-check-label ">
                                                <input type="radio" name="is_b" value="True"
                                                       class="form-check-input">是
                                            </label>
                                            <label for="inline-radio2" class="form-check-label ">
                                                <input type="radio" name="is_b" value="False"
                                                       class="form-check-input">否
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="text-input"
                                                                     class=" form-control-label"><i
                                            style="color: red; margin-right: 5px">*</i>机构性质</label></div>
                                    <div class="col-12 col-md-9">
                                        <select name="nature" id="org_nature" class="form-control">
                                            <option value="1">国资委</option>
                                            <option value="2">地方国资委</option>
                                            <option value="3">其他政府单位</option>
                                            <option value="4">央企集团</option>
                                            <option value="5">央企下属单位</option>
                                            <option value="6">行业协会</option>
                                            <option value="7">地方国企</option>
                                            <option value="8">大专院校</option>
                                            <option value="9">研究机构</option>
                                            <option value="10">其他</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="textarea-input" class=" form-control-label">机构简介</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <textarea name="brief" id="org_brief" rows="9"
                                                  placeholder="请输入机构简介"
                                                  class="form-control">{{ data.brief }}</textarea>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="file-input"
                                                                     class=" form-control-label">缩略图</label></div>
                                    <div class="col-12 col-md-9"><input type="file" id="file-input" name="photo"
                                                                        class="form-control-file">
                                        <img src="/static/{{ data.photo }}" alt="还没有图片哦~" width="195px" height="237px">
                                    </div>
                                </div>
                                <div style="margin-top:40px;margin-bottom:20px;">
                                    <button type="submit" class="btn btn-primary btn-sm"
                                            style="width: 100px;display:block;margin:0 auto;">
                                        <i class="fa fa-dot-circle-o"></i> 修改
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .animated -->
    </div><!-- .content -->
</div><!-- /#right-panel -->
<!-- Right Panel -->

{% include 'common/include_js.html' %}
{% block add_js %}
    <script src="{% static 'backstage/vendors/jquery-validation/dist/jquery.validate.min.js' %}"></script>
{% endblock %}
<script src="{% static 'backstage/vendors/jquery/dist/jquery.min.js' %}"></script>
</body>
<script>
    var is_a ='{{ data.is_a }}';
    var is_b ='{{ data.is_b }}';
    var nature ={{ data.nature }};
    $(window).load(function () {
        // 默认选中甲乙方
        $('#org_is_a label').each(function () {
            if ($(this).children('input').attr('value') == is_a) {
                $(this).children('input').attr("checked", "checked");
            }
        });
        $('#org_is_b label').each(function () {
            if ($(this).children('input').attr('value') == is_b) {
                $(this).children('input').attr("checked", "checked");
            }
        });
        // 默认选中机构性质
        $('#org_nature option').each(function () {
            if ($(this).attr('value') == nature) {
                $(this).attr("selected", "selected");
            }
        })
    });
</script>
</html>
