<!--遮罩层-->
<div class="bgPop"></div>
<!--弹出框-->
<div class="pop">
    <div class="pop-top">
        <h5 id="org-name"></h5>
        <span class="pop-close">Ｘ</span>
    </div>
    <div class="pop-content">
        <div class="pop-content-con">
            <form method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="row form-group">
                    <div class="col col-md-3"><label for="disabled-input" class=" form-control-label">机构性质</label>
                    </div>
                    <div class="col-12 col-md-9"><input type="text" id="org-nature"
                                                        value="" disabled="" class="form-control"></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="disabled-input"
                                                     class=" form-control-label">立项单位</label></div>
                    <div class="col-12 col-md-9"><input type="text" id="org-is_a"
                                                        value="" disabled="" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="disabled-input"
                                                     class=" form-control-label">研究单位</label></div>
                    <div class="col-12 col-md-9"><input type="text" id="org-is_b"
                                                        value="" disabled="" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="disabled-input"
                                                     class=" form-control-label">创建时间</label></div>
                    <div class="col-12 col-md-9"><input type="text" id="org-create_date"
                                                        value="" disabled="" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="disabled-input"
                                                     class=" form-control-label">成果数量</label></div>
                    <div class="col-12 col-md-9"><input type="text" id="org-pro_sum"
                                                        value="" disabled="" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="disabled-input"
                                                     class=" form-control-label">研究人员数量</label></div>
                    <div class="col-12 col-md-9"><input type="text" id="org-par_sum"
                                                        value="" disabled="" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="disabled-input" class=" form-control-label">简介</label>
                    </div>
                    <div class="col-12 col-md-9"><textarea id="org-brief" rows="9" disabled=""
                                                           class="form-control"></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>