<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
{% load static %}
<!--<![endif]-->
{% include 'common/header.html' %}
{#{% block header_add_css %}#}
{#    <link rel="stylesheet" href="{% static 'backstage/vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">#}
{#    <link rel="stylesheet"#}
{#          href="{% static 'backstage/vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'backstage/layer/layer.css' %}" media="all">#}
{#{% endblock %}#}

<body>
{% include 'common/left_panel.html' %}

<!-- Right Panel -->

<div id="right-panel" class="right-panel">

    {% include 'common/right_panel_header.html' %}

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="#">数据管理</a></li>
                        <li class="active">成果管理</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">成果信息</strong>
                            <a href="{% url 'back:pro_add' %}">
                                <button class="btn btn-success btn-sm" style="margin-left: 20px; width: 70px;">添加
                                </button>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_length">
                                            {#                                            <label>每页展示#}
                                            {#                                                <select name="bootstrap-data-table-export_length"#}
                                            {#                                                        aria-controls="bootstrap-data-table-export"#}
                                            {#                                                        class="custom-select custom-select-sm form-control form-control-sm">#}
                                            {#                                                    <option value="10">10</option>#}
                                            {#                                                    <option value="25">25</option>#}
                                            {#                                                    <option value="50">50</option>#}
                                            {#                                                    <option value="-1">All</option>#}
                                            {#                                                </select> 条#}
                                            {#                                            </label>#}
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_filter">
                                            <label><input type="search" class="form-control form-control-sm"
                                                          placeholder="" id="search-id" value="{{ keyword }}">
                                                {#                                                <a href="#search" style="font-size: 20px; color: #0e6498;"><i class="fa fa-search"></i></a>#}
                                                <a id="search-a-id" onclick="search_all('pm', '')">
                                                    <button type="button" class="btn btn-outline-primary btn-sm">
                                                        搜索
                                                    </button>
                                                </a>
                                                <a id="search-a-id-reset" onclick="search_all('pm', '', 1)">
                                                    <button type="button" class="btn btn-outline-success btn-sm">
                                                        重置
                                                    </button>
                                                </a>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="bootstrap-data-table-export"
                                               class="table table-striped table-bordered">
                                            <thead>
                                            <tr>
                                                <th>成果名称</th>
                                                <th>关键词</th>
                                                <th>分类
{#                                                    <a style="float: right;color: #999;cursor: pointer;"><i#}
{#                                                            class="fa fa-align-right"></i></a>#}
{#                                                    <div style="display: inline-block;float: right;cursor: pointer;">#}
{#                                                        <select name="classify" id="select" class="form-control">#}
{#                                                            <option value="100">全部</option>#}
{#                                                            <option value="1">发展</option>#}
{#                                                            <option value="2">监管</option>#}
{#                                                            <option value="3">党建</option>#}
{#                                                            <option value="4">改革</option>#}
{#                                                            <option value="5">其他</option>#}
{#                                                        </select>#}
{#                                                    </div>#}
                                                </th>
                                                {#                                                <th>发布者</th>#}
                                                <th>状态
{#                                                    <a style="float: right;color: #999;cursor: pointer;"><i#}
{#                                                            class="fa fa-align-right"></i></a>#}
{#                                                    <div style="display: inline-block;float: right;cursor: pointer;">#}
{#                                                        <select name="classify" id="select" class="form-control">#}
{#                                                            <option value="0">全部</option>#}
{#                                                            <option value="1">合格</option>#}
{#                                                            <option value="2">不合格</option>#}
{#                                                            <option value="3">待完善</option>#}
{#                                                            <option value="4">审批中</option>#}
{#                                                            <option value="5">其他</option>#}
{#                                                        </select>#}
{#                                                    </div>#}
                                                </th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for d in data.pages %}
                                                <tr>
                                                    <td title="{{ d.name }}">
                                                        {% if d.name %}{% if d.name|length < 20 %}{{ d.name }}{% else %}
                                                            {{ d.name|slice:25 }}...{% endif %}{% endif %}</td>
                                                    <td title="{{ d.key_word }}">
                                                        {% if d.key_word %}{% if d.key_word|length < 20 %}
                                                            {{ d.key_word }}{% else %}{{ d.key_word|slice:20 }}...
                                                        {% endif %}{% endif %}</td>
                                                    <td>{{ d.classify__cls_name }}</td>
                                                    {#                                                    <td>{{ d.user__username }}</td>#}
                                                    <td>{{ d.status }}</td>
                                                    <td>
                                                        <a href="/back/pd?uuid={{ d.uuid }}" target="_blank">
                                                            <button type="button"
                                                                    class="btn btn-outline-success btn-sm detail_bt"
                                                                    {#                                                                onclick="pro_detail_bt('{{ d.uuid }}')"#}
                                                                    data-uuid="{{ d.uuid }}">查看
                                                            </button>
                                                        </a>
                                                        {% if request.session.group_id == 1 or request.session.group_id == 2 %}
                                                            {% if d.edit == 1 %}
                                                                <a href="{% url 'back:pm_e' d.uuid %}">
                                                                    <button type="button"
                                                                            class="btn btn-outline-primary btn-sm">编辑
                                                                    </button>
                                                                </a>
                                                                <a onclick="tips('此数据未提交，无需撤回',0)">
                                                                    <button type="button"
                                                                            class="btn btn-outline-secondary btn-sm">
                                                                        撤回
                                                                    </button>
                                                                </a>
                                                            {% else %}
                                                                <a onclick="tips('此数据不可编辑',0)">
                                                                    <button type="button"
                                                                            class="btn btn-outline-secondary btn-sm">
                                                                        编辑
                                                                    </button>
                                                                </a>
                                                                <button type="button"
                                                                        onclick="withdraw(this, '/back/pwd')"
                                                                        data-uuid="{{ d.uuid }}"
                                                                        class="btn btn-outline-danger btn-sm">撤回
                                                                </button>
                                                            {% endif %}
                                                            <button type="button" onclick="dele(this, '/back/pdel')"
                                                                    data-uuid="{{ d.uuid }}"
                                                                    class="btn btn-outline-danger btn-sm">删除
                                                            </button>
                                                        {% else %}
                                                            {% if d.edit == 1 %}
                                                                <a href="{% url 'back:pm_e' d.uuid %}">
                                                                    <button type="button"
                                                                            class="btn btn-outline-primary btn-sm">编辑
                                                                    </button>
                                                                </a>
                                                                <button type="button" onclick="dele(this, '/back/pdel')"
                                                                        data-uuid="{{ d.uuid }}"
                                                                        class="btn btn-outline-danger btn-sm">删除
                                                                </button>
                                                            {% else %}
                                                                <a onclick="tips('此数据不可编辑',0)">
                                                                    <button type="button"
                                                                            class="btn btn-outline-secondary btn-sm">
                                                                        编辑
                                                                    </button>
                                                                </a>
                                                                <a onclick="tips('此数据不可删除',0)">
                                                                    <button type="button"
                                                                            class="btn btn-outline-secondary btn-sm">
                                                                        删除
                                                                    </button>
                                                                </a>
                                                            {% endif %}
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info" id="bootstrap-data-table-export_info" role="status"
                                             aria-live="polite">共 {{ data.item_sum }} 条,共 {{ data.page_num }} 页
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-7">
                                        <div class="dataTables_paginate paging_simple_numbers"
                                             id="bootstrap-data-table-export_paginate">
                                            <ul class="pagination">
                                                {% if data.pages.has_previous %}
                                                    <li class="paginate_button page-item previous"
                                                        id="bootstrap-data-table-export_previous">
                                                        <a href="{% url 'back:pm' %}?page={{ data.pages.previous_page_number }}&keyword={{ keyword }}"
                                                           aria-controls="bootstrap-data-table-export"
                                                           class="page-link">上一页</a>
                                                    </li>
                                                {% else %}
                                                    <li class="paginate_button page-item previous disabled"
                                                        id="bootstrap-data-table-export_previous">
                                                        <a aria-controls="bootstrap-data-table-export"
                                                           class="page-link">上一页</a>
                                                    </li>
                                                {% endif %}
                                                {% for page in data.pages_list %}
                                                    {% if page == data.cur_page %}
                                                        <li class="paginate_button page-item active">
                                                            <a href="{% url 'back:pm' %}?page={{ page }}&keyword={{ keyword }}"
                                                               class="page-link">{{ page }}</a>
                                                        </li>
                                                    {% else %}
                                                        <li class="paginate_button page-item">
                                                            <a href="{% url 'back:pm' %}?page={{ page }}&keyword={{ keyword }}"
                                                               class="page-link">{{ page }}</a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}

                                                {#                                                <li class="paginate_button page-item disabled"#}
                                                {#                                                    id="bootstrap-data-table-export_ellipsis">#}
                                                {#                                                    <a href="#" aria-controls="bootstrap-data-table-export"#}
                                                {#                                                       class="page-link">…</a>#}
                                                {#                                                </li>#}
                                                {% if data.pages.has_next %}
                                                    <li class="paginate_button page-item next"
                                                        id="bootstrap-data-table-export_next">
                                                        <a href="{% url 'back:pm' %}?page={{ data.pages.next_page_number }}&keyword={{ keyword }}"
                                                           class="page-link">下一页</a>
                                                    </li>
                                                {% else %}
                                                    <li class="paginate_button page-item next disabled"
                                                        id="bootstrap-data-table-export_next">
                                                        <a class="page-link">下一页</a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div><!-- .animated -->
    </div><!-- .content -->


</div><!-- /#right-panel -->

<!-- Right Panel -->

{#{% include 'data_manage/projects/projects_detail.html' %}#}

{% include 'common/include_js.html' %}
{% block add_js %}
    <script src="{% static 'backstage/vendors/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'backstage/layer/layer.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'backstage/mask/js/jquery-1.8.0.min.js' %}"></script>
    <script src="{% static 'backstage/js/back.js' %}"></script>

{% endblock %}
<script>
    // 查看详情传值
    function pro_detail_bt(uuid) {
        {#var uuid = $(this).attr('data-uuid');#}
        $.ajax({
            url: "/back/pd",
            type: "GET",
            data: {'uuid': uuid},
            {#// 'csrfmiddlewaretoken': '{{ csrf_token }}'#}
            success: function (data) {
                console.log(data);
                con = data.data;
                console.log(con.name);
                $('#pro-name').text(con.name);
                $('#pro-lead-org').attr('value', con.lead_org);
                $('#pro-research').attr('value', con.research);
                $('#pro-classify').attr('value', con.classify__cls_name);
                $('#pro-key_word').text(con.key_word);
                $('#pro-abstract').text(con.abstract);
                $('#pro-reference').text(con.reference);
                $('#pro-downloads').attr('value', con.downloads);
                $('#pro-views').attr('value', con.views);
                $('#pro-release_date').attr('value', con.release_date);
                $('#stamp_box_status').text(con.status);
                $('#pro-user').attr('value', con.user__username);

                if ($('#par-org-tr tr')) {
                    $('#par-org-tr tr').remove();
                }
                //研究人员
                par_org = data.par_org;
                if (par_org.length != 0) {
                    $('#par-org-div').show();
                    var $tr = $('<tr></tr>');
                    var $tr_td = $('<td></td>');
                    for (var i = 0; i < par_org.length; i++) {
                        $tr_c = $tr.clone();
                        $tr_td_c1 = $tr_td.clone();
                        $tr_td_c2 = $tr_td.clone();
                        $tr_td_c3 = $tr_td.clone();
                        $tr_td_c4 = $tr_td.clone();

                        $tr_td_c1.text(par_org[i]['par__name']);
                        $tr_td_c2.text(par_org[i]['job']);
                        $tr_td_c3.text(par_org[i]['roles']);
                        $tr_td_c4.text(par_org[i]['org__name']);

                        $tr_c.append($tr_td_c1);
                        $tr_c.append($tr_td_c2);
                        $tr_c.append($tr_td_c3);
                        $tr_c.append($tr_td_c4);
                        $('#par-org-tr').append($tr_c);
                    }
                }
                $('.bgPop,.pop').show();
            },

            error: function (jqXHR, textStatus, err) {
                console.log(arguments);
            },

            complete: function (jqXHR, textStatus) {
                console.log(textStatus);
            },

            statusCode: {
                '403':

                    function (jqXHR, textStatus, err) {
                        console.log(arguments);
                    },

                '400':

                    function (jqXHR, textStatus, err) {
                        console.log(arguments);
                    }
            }
        })
    }

    $(window).load(function () {
        // 详情弹窗
        $('.pop-close').click(function () {
            $('.bgPop,.pop').hide();
        });
        {#// 搜索默认值#}
        {#$('#search-id').val($('#search-hidden-keyword-input').val());#}
    });

</script>
</body>

</html>
