<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
{% load static %}
<!--<![endif]-->

{% include 'common/header.html' %}
<body>
{% include 'common/left_panel.html' %}

<!-- Right Panel -->

<div id="right-panel" class="right-panel">

    {% include 'common/right_panel_header.html' %}

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <div class="icon-container">
                        <a href="{% url 'back:pm' %}"><span class="ti-back-right"></span><span class="icon-name"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        {#                        <li><a href="#">仪表板</a></li>#}
                        <li><a href="#">数据管理</a></li>
                        <li class="active">成果信息</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-8" style="margin:0 auto;">
                    <div class="card">
                        <div class="card-header">
                            <strong>成果信息编辑</strong>
                        </div>
                        <div class="card-body card-block">
                            <form enctype="multipart/form-data" class="form-horizontal" id="project-edit-form">
                                {% csrf_token %}
                                <input type="text" name="uuid" hidden value="{{ data.uuid }}" id="pro-form-input-uuid">
                                <input type="text" name="bt" hidden value="" id="project-edit-bt-value">
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="text-input"
                                                                     class=" form-control-label"><i
                                            style="color: red; margin-right: 5px">*</i>题名</label></div>
                                    <div class="col-12 col-md-9"><input type="text" id="pro_edit_pro_name" name="name"
                                                                        required="required"
                                                                        value="{{ data.name }}" class="form-control">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="select" class=" form-control-label"><i
                                            style="color: red; margin-right: 5px">*</i>分类</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select name="classify" id="select" class="form-control">
                                            <option value="1">发展</option>
                                            <option value="2">监管</option>
                                            <option value="3">党建</option>
                                            <option value="4">改革</option>
                                            <option value="5">其他</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="text-input"
                                                                     class=" form-control-label">对应投标</label></div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" id="pro-bid-input" name="bid" readonly
                                               value="{% if data.bid__re_title %}{{ data.bid__re_title }}{% endif %}"
                                               class="form-control" placeholder="请选择对应投标"
                                               style="display: inline-block;width: 80%;"
                                               onclick="bid_search()"
                                        >
                                        <input type="text" hidden name="bid_id" id="pro-bid-input-hidden"
                                               value="{% if data.bid__id %}{{ data.bid__id }}{% endif %}">
                                        <button type="button" class="btn btn-outline-primary btn-sm"
                                                onclick="pro_org_reset('c')">
                                            <i class="fa fa-undo"></i> 重置
                                        </button>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="text-input"
                                                                     class=" form-control-label">委托单位</label></div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" id="pro-lead_org-input" name="lead_org" readonly
                                               value="{% if data.lead_org %}{{ data.lead_org }}{% endif %}"
                                               class="form-control" placeholder="请选委托单位"
                                               style="display: inline-block;width: 80%;"
                                               onclick="org_search(roles='a')"
                                        >
                                        <input type="text" hidden name="lead_org_id_str" id="pro-lead_org-input-hidden"
                                               value="{% if data.lead_org_id %}{{ data.lead_org_id }}{% endif %}">
                                        <button type="button" class="btn btn-outline-primary btn-sm"
                                                onclick="pro_org_reset('a')">
                                            <i class="fa fa-undo"></i> 重置
                                        </button>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="text-input"
                                                                     class=" form-control-label">研究机构</label></div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" id="pro-research-input" name="research" readonly
                                               value="{% if data.research %}{{ data.research }}{% endif %}"
                                               class="form-control" placeholder="请选择研究机构"
                                               style="display: inline-block;width: 80%;"
                                               onclick="org_search(roles='b')"
                                        >
                                        <input type="text" hidden name="research_id_str" id="pro-research-input-hidden"
                                               value="{% if data.research_id %}{{ data.research_id }}{% endif %}">
                                        <button type="button" class="btn btn-outline-primary btn-sm"
                                                onclick="pro_org_reset('b')">
                                            <i class="fa fa-undo"></i> 重置
                                        </button>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="text-input"
                                                                     class=" form-control-label">发布日期</label></div>
                                    <div class="col-12 col-md-9"><input type="text" id="pro_edit_pro_release_date"
                                                                        name="release_date"
                                                                        required="required"
                                                                        value="{{ data.release_date }}"
                                                                        readonly
                                                                        class="form-control">
                                        <input type="hidden" id="submitDate" name="submitDate" class="form-control"/>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="textarea-input" class=" form-control-label">关键词</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <textarea name="key_word" id="textarea-input" rows="9"
                                                  placeholder="请输入关键词"
                                                  class="form-control">{% if data.key_word %}{{ data.key_word }}{% endif %}</textarea>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="file-input"
                                                                     class=" form-control-label">附件</label></div>
                                    <div class="col-12 col-md-9"><input type="file" id="file-input" name="attached"
                                                                        class="form-control-file">
                                        {% if data.attached %}
                                            <a href="/media/{{ data.attached }}" target="_blank">点击查看附件</a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="file-input"
                                                                     class=" form-control-label">课题小组</label></div>
                                    <div class="col-12 col-md-9">
                                        <button type="button" class="btn btn-outline-success btn-sm"
                                                style="margin-bottom: 10px;"
                                                onclick=" par_search()
                                        ">添加人员
                                        </button>
                                        <table id="pro-edit-table-id"
                                               class="table table-striped table-bordered">
                                            <thead>
                                            <tr>
                                                <th>姓名</th>
                                                <th>职务职称</th>
                                                <th>组内职务</th>
                                                <th>所在单位</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for d in par_org %}
                                                <tr>
                                                    <td><input type="text" name="par_id" value="{{ d.par__id }}"
                                                               hidden>{{ d.par__name }}</td>
                                                    <td><input type="text" name="job" value="{{ d.job }}"
                                                               title="{{ d.job }}"></td>
                                                    <td>
                                                        <select name="roles" class="form-control">
                                                            {% if d.roles == 1 %}
                                                                <option value="1" selected>组长</option>
                                                                <option value="2">副组长</option>
                                                                <option value="3">组员</option>
                                                            {% elif d.roles == 2 %}
                                                                <option value="1">组长</option>
                                                                <option value="2" selected>副组长</option>
                                                                <option value="3">组员</option>
                                                            {% else %}
                                                                <option value="1">组长</option>
                                                                <option value="2">副组长</option>
                                                                <option value="3" selected>组员</option>
                                                            {% endif %}
                                                        </select></td>
                                                    <td>{{ d.org__name }}</td>
                                                    <td>
                                                        <button type="button" class="btn btn-outline-danger btn-sm"
                                                                onclick="par_click_del(this)" data-id="{{ d.par__id }}">
                                                            删除
                                                        </button>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div style="margin-top:40px;margin-bottom:20px; text-align: center">
                                    <button type="button" class="btn btn-primary btn-sm"
                                            onclick="pro_edit(0)"
                                            style="width: 100px;display:inline-block;">
                                        <i class="fa fa-dot-circle-o"></i> 保存
                                    </button>
                                    <button type="button" class="btn btn-success btn-sm"
                                            onclick="pro_edit(1)"
                                            style="width: 100px;display:inline-block;margin-left: 50px;">
                                        <i class="fa fa-check"></i> 保存并提交
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .animated -->
    </div><!-- .content -->
</div><!-- /#right-panel -->
<!-- Right Panel -->
<!-- 遮罩层 -->
<div class="bgPop"></div>
<!-- 弹出框 -->
<div class="pop">
    <div class="pop-top" style="border: none;">
        <input id="pop-search-input" placeholder="请输入检索词"
               style="width: 50%;height: 37px;border: 1px solid #dee2e6;border-radius: 10px;padding-left: 10px"/>
        <button id="pop-search-button" type="button" class="btn btn-primary btn-sm"
                onclick="par_search($('#pop-search-input').val())"
                style="height: 37px;margin-bottom: 6px;margin-left: -12px"><i class="fa fa-search">搜索</i></button>
        <button id="pop-search-button2" type="button" class="btn btn-primary btn-sm"
                onclick="org_search($('#pop-search-roles').attr('data-roles'),$('#pop-search-input').val())"
                style="height: 37px;margin-bottom: 6px;margin-left: -12px"><i class="fa fa-search">搜索</i></button>
        <button id="pop-search-button3" type="button" class="btn btn-primary btn-sm"
                onclick="bid_search($('#pop-search-input').val())"
                style="height: 37px;margin-bottom: 6px;margin-left: -12px"><i class="fa fa-search">搜索</i></button>
        <input type="text" hidden id="pop-search-roles">
        <span class="pop-close">Ｘ</span>
    </div>
    <div class="pop-content">
        <div class="pop-content-con" id="pop-content-con-id">
        </div>
    </div>
</div>
{% include 'common/include_js.html' %}
{% block add_js %}
    <script src="{% static 'backstage/vendors/jquery-validation/dist/jquery.validate.min.js' %}"></script>
{% endblock %}
<script src="{% static 'backstage/vendors/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'backstage/layer/layer.js' %}" charset="utf-8"></script>
<script src="{% static 'backstage/js/back.js' %}"></script>
{#<link rel="stylesheet" href="{% static 'backstage/css/bootstrap.min.css' %}">#}
<link rel="stylesheet" href="{% static 'backstage/css/daterangepicker.css' %}">

<script src="{% static 'backstage/js/jquery-2.2.3.min.js' %}"></script>
<script src="{% static 'backstage/js/moment.js' %}"></script>
<script src="{% static 'backstage/js/daterangepicker.js' %}"></script>
<script>
    {#选中自有类型#}
    var str = '{{ data.classify }}';
    $(window).load(function () {
        $('#select option').each(function () {
            if (str != 'None') {
                console.log(1111);
                if ($(this).attr('value') == str) {
                    $(this).attr("selected", "selected");
                }
            }
        });
        // 详情弹窗
        $('.pop-close').click(function () {
            $('.bgPop,.pop').hide();
            $('#pop-search-input').val('')
        });
    });

    {#function f() {#}
        //单个时间插件
        $("input[name='release_date']").daterangepicker(
            {
                singleDatePicker: true,//设置为单个的datepicker，而不是有区间的datepicker 默认false
                showDropdowns: true,//当设置值为true的时候，允许年份和月份通过下拉框的形式选择 默认false
                autoUpdateInput: false,//1.当设置为false的时候,不给与默认值(当前时间)2.选择时间时,失去鼠标焦点,不会给与默认值 默认true
                timePicker24Hour: true,//设置小时为24小时制 默认false
                timePicker: false,//可选中时分 默认false
                locale: {
                    format: "YYYY-MM-DD",
                    separator: " - ",
                    daysOfWeek: ["日", "一", "二", "三", "四", "五", "六"],
                    monthNames: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"]
                }

            }
        ).on('cancel.daterangepicker', function (ev, picker) {
            $("#pro_edit_pro_release_date").val("请选择日期");
            $("#submitDate").val("");
        }).on('apply.daterangepicker', function (ev, picker) {
            $("#submitDate").val(picker.startDate.format('YYYY-MM-DD'));
            $("#pro_edit_pro_release_date").val(picker.startDate.format('YYYY-MM-DD'));
        });
    {# }#}
</script>
</body>
</html>
