<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
{% load static %}
<!--<![endif]-->
{% include 'common/header.html' %}

<body>
{% include 'common/left_panel.html' %}

<!-- Right Panel -->

<div id="right-panel" class="right-panel">

    {% include 'common/right_panel_header.html' %}

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="#">数据管理</a></li>
                        <li class="active">优秀成果管理</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">优秀成果管理</strong>
                            {#                            <input type="text" hidden id="filter_good_mark">#}
                            {% for mark in pro_mark %}
                                {% if mark.id == mark_id %}
                                    <a href="/back/good_pro_mng?mark_id={{ mark.id }}" style="margin-left: 20px">
                                        <button class="btn btn-sm">{{ mark.remarks }}
                                        </button>
                                    </a>
                                {% else %}
                                    <a href="/back/good_pro_mng?mark_id={{ mark.id }}" style="margin-left: 20px">
                                        <button class="btn btn-outline-secondary btn-sm">{{ mark.remarks }}
                                        </button>
                                    </a>
                                {% endif %}
                            {% endfor %}
                            <a href="" style="margin-left: 10px;"><span class="fa fa-pencil"
                                                                        style="font-size: 20px"></span></a>
                        </div>
                        <div class="card-body">
                            <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_length">
                                            <button type="button" class="btn btn-success btn-sm"
                                                    onclick="choose_good_pro()">
                                                添加优秀成果
                                            </button>
                                        </div>
                                    </div>
{#                                    <div class="col-sm-12 col-md-6">#}
{#                                        <div class="dataTables_filter">#}
{#                                            <label><input type="search" class="form-control form-control-sm"#}
{#                                                          placeholder="" id="search-id" value="{{ keyword }}">#}
                                                {#                                                <a href="#search" style="font-size: 20px; color: #0e6498;"><i class="fa fa-search"></i></a>#}
{#                                                <a id="search-a-id" onclick="search_all('good_pro_mng', '')">#}
{#                                                    <button type="button" class="btn btn-outline-primary btn-sm">#}
{#                                                        搜索#}
{#                                                    </button>#}
{#                                                </a>#}
{#                                                <a id="search-a-id-reset" onclick="search_all('good_pro_mng', '', 1)">#}
{#                                                    <button type="button" class="btn btn-outline-success btn-sm">#}
{#                                                        重置#}
{#                                                    </button>#}
{#                                                </a>#}
{#                                            </label>#}
{#                                        </div>#}
{#                                    </div>#}
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="bootstrap-data-table-export"
                                               class="table table-striped table-bordered">
                                            <thead>
                                            <tr>
                                                <th>成果名称</th>
                                                <th>关键词</th>
                                                <th>分类</th>
                                                <th>发布者</th>
                                                <th>发布时间</th>
                                                <th>优秀成果</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for d in data.pages %}
                                                <tr>
                                                    <td title="{{ d.name }}">
                                                        {% if d.name %}{% if d.name|length < 20 %}{{ d.name }}{% else %}
                                                            {{ d.name|slice:25 }}...{% endif %}{% endif %}</td>
                                                    <td title="{{ d.key_word }}">
                                                        {% if d.key_word %}{% if d.key_word|length < 20 %}
                                                            {{ d.key_word }}{% else %}{{ d.key_word|slice:20 }}...
                                                        {% endif %}{% endif %}</td>
                                                    <td>{{ d.classify__cls_name }}</td>
                                                    <td>{{ d.user__first_name }}</td>
                                                    <td>{{ d.release_date }}</td>
                                                    <td>{{ d.good_mark__remarks }}</td>
                                                    <td>
                                                        <a href="/back/pd?uuid={{ d.uuid }}" target="_blank">
                                                            <button type="button"
                                                                    class="btn btn-outline-success btn-sm detail_bt"
                                                                    data-uuid="{{ d.uuid }}">查看
                                                            </button>
                                                        </a>
                                                        {#                                                        {% if d.good_mark__remarks %}#}
                                                        {#                                                            <button type="button"#}
                                                        {#                                                                    class="btn btn-outline-secondary btn-sm">选中#}
                                                        {#                                                            </button>#}
                                                        {#                                                        {% else %}#}
                                                        {#                                                            <button type="button"#}
                                                        {#                                                                    onclick="choose_good_pro('{{ d.uuid }}')"#}
                                                        {#                                                                    class="btn btn-outline-primary btn-sm">选中#}
                                                        {#                                                            </button>#}
                                                        {#                                                        {% endif %}#}
                                                        {% if d.good_mark__remarks %}
                                                            <button type="button"
                                                                    onclick="del_good_pro('{{ d.uuid }}', '{{ mark_id }}')"
                                                                    class="btn btn-outline-danger btn-sm">撤销
                                                            </button>
                                                        {% else %}
                                                            <button type="button"
                                                                    class="btn btn-outline-secondary btn-sm">撤销
                                                            </button>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info" id="bootstrap-data-table-export_info" role="status"
                                             aria-live="polite">共 {{ data.item_sum }} 条,共 {{ data.page_num }} 页
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-7">
                                        <div class="dataTables_paginate paging_simple_numbers"
                                             id="bootstrap-data-table-export_paginate">
                                            <ul class="pagination">
                                                {% if data.pages.has_previous %}
                                                    <li class="paginate_button page-item previous"
                                                        id="bootstrap-data-table-export_previous">
                                                        <a href="{% url 'back:good_pro_mng' %}?page={{ data.pages.previous_page_number }}&keyword={{ keyword }}"
                                                           aria-controls="bootstrap-data-table-export"
                                                           class="page-link">上一页</a>
                                                    </li>
                                                {% else %}
                                                    <li class="paginate_button page-item previous disabled"
                                                        id="bootstrap-data-table-export_previous">
                                                        <a aria-controls="bootstrap-data-table-export"
                                                           class="page-link">上一页</a>
                                                    </li>
                                                {% endif %}
                                                {% for page in data.pages_list %}
                                                    {% if page == data.cur_page %}
                                                        <li class="paginate_button page-item active">
                                                            <a href="{% url 'back:good_pro_mng' %}?page={{ page }}&keyword={{ keyword }}"
                                                               class="page-link">{{ page }}</a>
                                                        </li>
                                                    {% else %}
                                                        <li class="paginate_button page-item">
                                                            <a href="{% url 'back:good_pro_mng' %}?page={{ page }}&keyword={{ keyword }}"
                                                               class="page-link">{{ page }}</a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                                {% if data.pages.has_next %}
                                                    <li class="paginate_button page-item next"
                                                        id="bootstrap-data-table-export_next">
                                                        <a href="{% url 'back:good_pro_mng' %}?page={{ data.pages.next_page_number }}&keyword={{ keyword }}"
                                                           class="page-link">下一页</a>
                                                    </li>
                                                {% else %}
                                                    <li class="paginate_button page-item next disabled"
                                                        id="bootstrap-data-table-export_next">
                                                        <a class="page-link">下一页</a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div><!-- .animated -->
    </div><!-- .content -->


</div><!-- /#right-panel -->

<!-- Right Panel -->

{% include 'data_manage/projects/good_projects_choose.html' %}

{% include 'common/include_js.html' %}
{% block add_js %}
    <script src="{% static 'backstage/vendors/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'backstage/layer/layer.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'backstage/mask/js/jquery-1.8.0.min.js' %}"></script>
    <script src="{% static 'backstage/js/back.js' %}"></script>

{% endblock %}
<script>

    // 选中弹窗-选择相应内容
    function good_pro_mark_choose(obj) {
        {#let pro_uuid = $(obj).attr('data-id');#}
        {#$('#good_pro_remark_id').attr('data-id', pro_uuid);#}
        {#$('.pop-content-con .btn').removeClass('btn-outline-secondary').text('选中');#}
        {#$('.pop-content-con .btn').addClass('btn-success');#}
        $(obj).addClass('btn-outline-secondary').text('已选中');

    }

    // 选中-召唤弹窗
    function choose_good_pro() {
        $('.bgPop,.pop').show();
        {#$('#good_pro_remark_id').attr('data-uuid', uuid)#}
        $.ajax({
            url: "/back/choose_good_project",
            type: "GET",
            {#data: {'uuid': uuid, "mark_id": mark_id},#}
            {#// 'csrfmiddlewaretoken': '{{ csrf_token }}'#}
            success: function (data) {
                console.log(data);
                show_good_pro_list(data);


                {#layer.alert('操作成功', {icon: 1}, function (index) {#}
                {#    layer.close(index);#}
                {#window.open('/back/good_pro_mng', '_self')#}
                {# });#}
            },

            error: function (jqXHR, textStatus, err) {
                tips('操作失败，请联系管理员', 2)
            },

            complete: function (jqXHR, textStatus) {
                console.log(textStatus);
            },

            statusCode: {
                '403':

                    function (jqXHR, textStatus, err) {
                        console.log(arguments);
                    },

                '400':

                    function (jqXHR, textStatus, err) {
                        console.log(arguments);
                    }
            }
        });
    }

    function show_good_pro_list(data) {
        //移除旧数据结构
        if ($('#pop-content-tbody-id')) {
            $('#pop-content-tbody-id tr').remove();
        }
        //定义新数据结构
        var $divF_tbody_tr = $('<tr></tr>');
        var $divF_tbody_tr_td1 = $('<td></td>');
        var $divF_tbody_tr_td2 = $('<td></td>');
        var $divF_tbody_tr_td3 = $('<td></td>');
        var $divF_tbody_tr_td4 = $('<td></td>');
        var $divF_tbody_tr_td4_bt = $('<button class="btn btn-success btn-sm" onclick="good_pro_mark_choose(this)">选中</button>');

        var con = data.data;
        for (var i = 0; i < con.length; i++) {
            console.log(con[i]);
            $divF_tbody_tr_c = $divF_tbody_tr.clone();
            $divF_tbody_tr_td1_c = $divF_tbody_tr_td1.clone();
            $divF_tbody_tr_td2_c = $divF_tbody_tr_td2.clone();
            $divF_tbody_tr_td3_c = $divF_tbody_tr_td3.clone();
            $divF_tbody_tr_td4_c = $divF_tbody_tr_td4.clone();
            $divF_tbody_tr_td4_bt_c = $divF_tbody_tr_td4_bt.clone();

            $divF_tbody_tr_td1_c.text(con[i]['name']);
            $divF_tbody_tr_td2_c.text(con[i]['user__first_name']);
            $divF_tbody_tr_td3_c.text(con[i]['release_date']);
            $divF_tbody_tr_td4_bt_c.attr('data-id', con[i]['uuid']);

            $divF_tbody_tr_c.append($divF_tbody_tr_td1_c);
            $divF_tbody_tr_c.append($divF_tbody_tr_td2_c);
            $divF_tbody_tr_c.append($divF_tbody_tr_td3_c);
            $divF_tbody_tr_td4_c.append($divF_tbody_tr_td4_bt_c);
            $divF_tbody_tr_c.append($divF_tbody_tr_td4_c);
            $('#pop-content-tbody-id').append($divF_tbody_tr_c);
        }
    }

    // 确认选中
    function comfirm_choose_good_pro() {

        let uuid_str = '';
        $('.pop-content-con .btn').each(function () {
                if ($(this).hasClass('btn-outline-secondary')) {
                    uuid_str = $(this).attr('data-id') + ';' + uuid_str
                }
            }
        );

        let mark_id = $('#good_pro_remark_id').attr('data-mark');
        if (mark_id) {
            $.ajax({
                url: "/back/good_pro_mng",
                type: "POST",
                data: {'uuid': uuid_str, "mark_id": mark_id},
                {#// 'csrfmiddlewaretoken': '{{ csrf_token }}'#}
                success: function (data) {
                    layer.alert('操作成功', {icon: 1}, function (index) {
                        layer.close(index);
                        window.open('/back/good_pro_mng?mark_id='+mark_id, '_self')
                    });
                },

                error: function (jqXHR, textStatus, err) {
                    tips('操作失败，请联系管理员', 2)
                },

                complete: function (jqXHR, textStatus) {
                    console.log(textStatus);
                },

                statusCode: {
                    '403':

                        function (jqXHR, textStatus, err) {
                            console.log(arguments);
                        },

                    '400':

                        function (jqXHR, textStatus, err) {
                            console.log(arguments);
                        }
                }
            });
        } else {
            tips('操作失败，请联系管理员', 2)
        }

    }

    // 撤销选中
    function del_good_pro(uuid, mark_id) {
        $.ajax({
            url: "/back/good_pro_mng",
            type: "POST",
            data: {'uuid': uuid},
            success: function (data) {
                layer.alert('操作成功', {icon: 1}, function (index) {
                    layer.close(index);
                    window.open('/back/good_pro_mng?mark_id='+mark_id, '_self')
                });
            },

            error: function (jqXHR, textStatus, err) {
                tips('操作失败，请联系管理员', 2)
            },

            complete: function (jqXHR, textStatus) {
                console.log(textStatus);
            },

            statusCode: {
                '403':

                    function (jqXHR, textStatus, err) {
                        console.log(arguments);
                    },

                '400':

                    function (jqXHR, textStatus, err) {
                        console.log(arguments);
                    }
            }
        });
    }

    $(window).load(function () {
        // 详情弹窗
        $('.pop-close').click(function () {
            $('.bgPop,.pop').hide();
        });
        {#// 搜索默认值#}
        {#$('#search-id').val($('#search-hidden-keyword-input').val());#}
    });

</script>
</body>

</html>
