<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
{% load static %}
<!--<![endif]-->
{% include 'common/header.html' %}
<body>
{% include 'common/left_panel.html' %}

<!-- Right Panel -->

<div id="right-panel" class="right-panel">

    {% include 'common/right_panel_header.html' %}

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="#">数据管理</a></li>
                        <li class="active">成果审批</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">待审批-成果信息</strong>
                            <a href="/back/psp?his=1">
                                <button class="btn btn-success btn-sm" style="margin-left: 20px">成果审批记录
                                </button>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_length"></div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_filter">
                                            <label><input type="search" class="form-control form-control-sm"
                                                          placeholder="" id="search-id" value="{{ keyword }}">
                                                <a id="search-a-id" onclick="search_all('psp', '')">
                                                    <button type="button" class="btn btn-outline-primary btn-sm">
                                                        搜索
                                                    </button>
                                                </a>
                                                <a id="search-a-id-reset" onclick="search_all('psp', '', 1)">
                                                    <button type="button" class="btn btn-outline-success btn-sm">
                                                        重置
                                                    </button>
                                                </a>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="bootstrap-data-table-export"
                                               class="table table-striped table-bordered">
                                            <thead>
                                            <tr>
                                                <th>成果名称</th>
                                                <th>牵头厅局</th>
                                                <th>研究机构</th>
                                                <th>分类</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for d in data.pages %}
                                                <tr>
                                                    <td title="{{ d.name }}">
                                                        {% if d.name %}{% if d.name|length < 20 %}{{ d.name }}{% else %}
                                                            {{ d.name|slice:20 }}...{% endif %}{% endif %}</td>
                                                    <td title="{{ d.lead_org }}">
                                                        {% if d.lead_org %}{% if d.lead_org|length < 20 %}
                                                            {{ d.lead_org }}{% else %}
                                                            {{ d.lead_org|slice:20 }}...{% endif %}{% endif %}</td>
                                                    <td title="{{ d.research }}">
                                                        {% if d.research %}{% if d.research|length < 20 %}
                                                            {{ d.research }}{% else %}
                                                            {{ d.research|slice:20 }}...{% endif %}{% endif %}</td>
                                                    <td>{{ d.classify__cls_name }}</td>
                                                    <td>
                                                        <a href="/media/{{ d.attached }}" target="_blank">
                                                            <button type="button"
                                                                    class="btn btn-outline-success btn-sm">查看原文
                                                            </button>
                                                        </a>
                                                        <button type="button" class="btn btn-outline-primary btn-sm"
                                                                onclick="pro_status_sp(this,'{{ d.uuid }}',1)">同意
                                                        </button>
                                                        <button type="button"
                                                                onclick="pro_status_sp(this,'{{ d.uuid }}',4)"
                                                                class="btn btn-outline-danger btn-sm">驳回
                                                        </button>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info" id="bootstrap-data-table-export_info" role="status"
                                             aria-live="polite">共 {{ data.item_sum }} 条,共 {{ data.page_num }} 页
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-7">
                                        <div class="dataTables_paginate paging_simple_numbers"
                                             id="bootstrap-data-table-export_paginate">
                                            <ul class="pagination">
                                                {% if data.pages.has_previous %}
                                                    <li class="paginate_button page-item previous"
                                                        id="bootstrap-data-table-export_previous">
                                                        <a href="{% url 'back:psp' %}?page={{ data.pages.previous_page_number }}&keyword={{ keyword }}"
                                                           aria-controls="bootstrap-data-table-export"
                                                           class="page-link">上一页</a>
                                                    </li>
                                                {% else %}
                                                    <li class="paginate_button page-item previous disabled"
                                                        id="bootstrap-data-table-export_previous">
                                                        <a aria-controls="bootstrap-data-table-export"
                                                           class="page-link">上一页</a>
                                                    </li>
                                                {% endif %}
                                                {% for page in data.pages_list %}
                                                    {% if page == data.cur_page %}
                                                        <li class="paginate_button page-item active">
                                                            <a href="{% url 'back:psp' %}?page={{ page }}&keyword={{ keyword }}"
                                                               class="page-link">{{ page }}</a>
                                                        </li>
                                                    {% else %}
                                                        <li class="paginate_button page-item">
                                                            <a href="{% url 'back:psp' %}?page={{ page }}&keyword={{ keyword }}"
                                                               class="page-link">{{ page }}</a>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}

                                                {% if data.pages.has_next %}
                                                    <li class="paginate_button page-item next"
                                                        id="bootstrap-data-table-export_next">
                                                        <a href="{% url 'back:psp' %}?page={{ data.pages.next_page_number }}&keyword={{ keyword }}"
                                                           class="page-link">下一页</a>
                                                    </li>
                                                {% else %}
                                                    <li class="paginate_button page-item next disabled"
                                                        id="bootstrap-data-table-export_next">
                                                        <a class="page-link">下一页</a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div><!-- .animated -->
    </div><!-- .content -->


</div><!-- /#right-panel -->

<!-- Right Panel -->

{% include 'common/include_js.html' %}
{% block add_js %}
    <script src="{% static 'backstage/vendors/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'backstage/layer/layer.js' %}" charset="utf-8"></script>
    <script src="{% static 'backstage/js/back.js' %}"></script>

{% endblock %}
<script>
    function pro_status_sp(obj, uuid, status) {
        layer.confirm('此操作不可逆,请谨慎操作！', {icon: 0}, function (e) {
            $.ajax({
                url: "/back/psp",
                type: "POST",
                data: {'uuid': uuid, 'status': status},
                success: function (data) {
                    if (data == 1) {
                        $(obj).parents('tr').remove();
                        layer.alert('审批成功', {icon: 1}, function (index) {
                            layer.close(index)
                        });
                    } else {
                        layer.alert('审批失败，请联系研发人员', {icon: 2}, function (index) {
                            layer.close(index)
                        });
                    }
                },
                error: function (jqXHR, textStatus, err) {
                    console.log(arguments);
                },
                complete: function (jqXHR, textStatus) {
                    console.log(textStatus);
                },
                statusCode: {
                    '403':
                        function (jqXHR, textStatus, err) {
                            console.log(arguments);
                        },
                    '400':
                        function (jqXHR, textStatus, err) {
                            console.log(arguments);
                        }
                }
            })
        })
    }
</script>
</body>

</html>
