<!--遮罩层-->
<div class="bgPop"></div>
<!--弹出框-->
<div class="pop">
    <div class="pop-top">
        <h5 id="par-name"></h5>
        <span class="pop-close">Ｘ</span>
    </div>
    <div class="pop-content">
        <div class="pop-content-con">
            <form method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="row form-group">
                    <div class="col col-md-3"><label for="disabled-input" class=" form-control-label">性别</label>
                    </div>
                    <div class="col-12 col-md-9"><input type="text" id="par-gender"
                                                        value="" disabled="" class="form-control"></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="disabled-input"
                                                     class=" form-control-label">所在单位</label></div>
                    <div class="col-12 col-md-9"><input type="text" id="par-unit"
                                                        value="" disabled="" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="disabled-input"
                                                     class=" form-control-label">职位职称</label></div>
                    <div class="col-12 col-md-9"><input type="text" id="par-job"
                                                        value="" disabled="" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="disabled-input"
                                                     class=" form-control-label">邮箱</label></div>
                    <div class="col-12 col-md-9"><input type="text" id="par-email"
                                                        value="" disabled="" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="disabled-input"
                                                     class=" form-control-label">成果数量</label></div>
                    <div class="col-12 col-md-9"><input type="text" id="par-pro_sum"
                                                        value="" disabled="" class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="disabled-input" class=" form-control-label">简介</label>
                    </div>
                    <div class="col-12 col-md-9"><textarea id="par-brief" rows="9" disabled=""
                                                           class="form-control"></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>