/*--印章的样式开始*/
/*印章图片的样式*/
.stamp-box {
    position: absolute;
    right: 45px;
    z-index: 100;
}

/*印章文字的样式*/
.stamp-box .txt {
    transform: rotate(-18deg);
    font-size: 30px;
    color: #c43232;
    position: absolute;
    top: 57px;
    width: 179px;
    text-align: center;
    font-weight: 600;
}

/*机构搜索推荐框*/
#org-rzjg-tj {
    position: absolute;
    background: #fff;
    z-index: 10;
    top: -2px;
    border: 1px solid #ddd;
    border-top: 1px solid #fff;
    color: #999;
    width: 70%;
    display: block;
    text-indent: 13px;
    border-radius: 5px;
}

#org-rzjg-tj div {
    font-size: 15px;
}

#org-rzjg-tj div:hover {
    cursor: pointer;
    background-color: #ccc;
    color: black;
}

/*申报跳转详情单独页面*/
.single-detail-div {
    width: 50%;
    height: 100%;
    margin: 20px auto;
}

.single-detail-div h5 {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.single-detail-div .single-detail-div-bottom {
    border: 1px solid #ddd;
    padding: 10px 20px;
    /*background-color: #e9ecef;*/
    border-radius: 10px;
}

.single-detail-div .single-detail-div-bottom .single-detail-div-button {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.single-detail-div .single-detail-div-bottom .single-detail-div-button a {
    margin-right: 50px;
}

.single-detail-div-button button {
    width: 100px;
}

/*成果添加小组信息*/
.pro-add-par-pop-div {
    display: inline-block;
    background-color: gainsboro;
    border-radius: 10px;
    margin: 10px 5px;
    font-size: 14px;
    color: #1d2935;
    padding: 2px 10px;
}

.pro-add-par-pop-div i{
    margin-left: 2px;
    cursor: pointer;
}